//-------- Preloader animations-------------

@keyframes vanish {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes dot {
  50% {
    transform: translateX(96px);
  }
}

@keyframes dots {
  50% {
    transform: translateX(-31px);
  }
}
