section {
  padding: 8rem 0;
  @media only screen and (max-width: 767px) {
    padding: 5rem;
  }
}
.section-slider {
  background-color: #f4f4f4;
}

.section-slider {
  @media only screen and (max-width: 540px) {
    padding: 3rem;
  }
  @media only screen and (max-width: 400px) {
    padding: 2rem;
  }
}

.section-news {
  @media only screen and(max-width:300px) {
    padding-top: 1rem;
  }
}
.container {
  @media only screen and (max-width: 400px) {
    padding-right: 0;
    padding-left: 0.5rem;
  }
}
